body {
    font-family: Arial, sans-serif;
    background-color: #333;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin-top: 3rem;
    position: relative;
    display: none;
}

.form-container-1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin-top: 3rem;
    position: relative;
    display: none;
}

.question-card {
    border: 2px solid #444;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #333;
}

.question-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.option-container {
    display: flex;
    align-items: center;
}

.Add-container {
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.option-input {
    margin-right: 15px;
    transform: scale(1.3);
}

.option-text {
    border: none;
    background-color: transparent;
    color: #ddd;
    font-size: 16px;
    padding: 8px;
    flex: 1;
}

.add-option {
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.2s;
}

.add-option:hover {
    color: #00ff99;
}

.switch-button {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #ddd;
    transition: color 0.2s;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-placeholder {
    padding: 8px;
    border: 2px solid #444;
    border-radius: 8px;
    cursor: pointer;
    color: #ddd;
    transition: border-color 0.2s;
}

.dropdown-placeholder:hover {
    border-color: #00cc66;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border: 2px solid #444;
    border-top: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    color: #ddd;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #444;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #333;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    color: grey;
    margin-left: 1rem;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: grey 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-transform: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #333 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.remove-button {
    appearance: button;
    background-color: #cc0000;
    background-image: none;
    border: 1px solid #cc0000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
    margin-top: 0.4rem;
    padding: 8px 16px;
    text-transform: none;
    white-space: nowrap;
}

.remove-button:hover {
    background-color: #ff3333;
    border: 1px solid #ff3333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.buttonss {
    border-style: none;
    width: 100%;
}

.adding {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid yellow;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #00ff99;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 2rem;
    min-width: 0;
    outline: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.remove-button-card {
    appearance: button;
    background-color: #cc0000;
    background-image: none;
    border: 1px solid #cc0000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 16px;
    text-transform: none;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.remove-button-card:hover {
    background-color: #ff3333;
    border: 1px solid #ff3333;
}

.button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --main-color: #dedede;
    position: relative;
    width: 155px;
    height: 40px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.button,
.button__icon,
.button__text {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.button .button__text {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 12rem;
    width: 40px;
    background-color: var(--bg-color-sub);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
    stroke: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.button:active {
    -webkit-transform: translate(3px, 3px);
    -ms-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
    -webkit-box-shadow: 0px 0px var(--main-color);
    box-shadow: 0px 0px var(--main-color);
}

.footer-question {
    color: red;
}