* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 100rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.upload-status {
    width: 45%;
}

.status {
    width: 30%;
    background-color: #f3f3f3;
    position: relative;
    padding: 60px 1rem 0.5rem;
}

.status:nth-child(even) {
    background-color: #e9e9e96b;
}

.status h1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}

#add_btn {
    padding: 0.5rem 1rem;
    background-color: #ccc;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    cursor: pointer;
}

#add_btn:hover {
    background-color: #aaa;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.todo .close {
    position: absolute;
    right: 1rem;
    top: 0rem;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.todo .close:hover {
    color: #343444;
}

.close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.modal {
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    background-color: #fff;
}

.modal.active {
    top: 15%;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.modal .body {
    padding: 0.75rem;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
    display: block;
}

/* Add styles for the Upload Banner section */
.upload-container {
    width: 100%;
    height: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

#bannerUploadInput {
    margin-bottom: 10px;
}

#uploadBannerBtn {
    padding: 8px 15px;
    background-color: #0cba00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.uploaded-banner {
    margin-top: 20px;
    display: none;
}

#uploadedBannerImage {
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#todo_input,
#todo_submit {
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
}

#todo_submit {
    background-color: #4caf50;
    color: #f3f3f3;
    font-size: 1.25rem;
    border: none;
}

.question {
    background-color: #ccc;
    box-sizing: border-box;
    height: 150px;
    margin: 13px;
    padding: 10px;
    border-radius: 10px;
}

.m-signature-pad--body canvas {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    border: 1px solid #CCCCCC;
}

@media screen and (max-width: 768px) {
    .upload-countainer {
        flex-direction: column;
        height: auto;
    }
    .todo-container {
        flex-direction: column;
        height: auto;
    }
    .status {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.signature-container {
    margin: 20px 0;
    text-align: center;
}

.signature-container h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

#signatureCanvas {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: crosshair;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#clearSignatureBtn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f44336;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#clearSignatureBtn:hover {
    background-color: #d32f2f;
}

#submitBtn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: red;
}

#radioOptionsContainer label {
    display: block;
    margin-bottom: 5px;
}

#radioOptionsContainer input[type="radio"] {
    margin-right: 5px;
}